@import "bootstrap-sprockets"
@import "bootstrap"

.center-block
  display: block
  margin-left: auto
  margin-right: auto

.thumbnail img
  padding: 10px

#framePosition
  margin-bottom: 10px

.position
  #positionTime
    margin-left: 10px
    font-size: 3em

  #positionAt
    margin-left: 10px
    font-size: 1em

  #positionAtLabel
    font-size: 1em
